body {
  font-family: "Montserrat", sans-serif;
  color: #3d3d3f;
  background-color: #faf0f0;
}
html,
body,
section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #fd695a;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: flex;
}

.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  min-width: 280px;
  padding: 0 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-align: center;
}
/* Header */
header {
  position: absolute;
  left: 0;
  right: 0;
}
.header-container {
  min-width: 340px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin: 0 auto;
}

.logo {
  width: 134px;
  height: 29px;
}
.mobile-menu-btn {
  fill: #3d3d3f;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* Hero */
.hero-container {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  padding: 60px 0 84px;
}
.photo {
  width: 100%;
  height: 100%;
  min-width: 280px;
}

.hero-wrapper {
  padding: 0 16px 0;
  width: 100%;
}
.main-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.3;
  color: #3d3d3f;
  text-align: left;
  width: 309px;
  margin-bottom: 21px;
}
.hero-descriotion {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.3;
  color: rgba(61, 61, 63, 0.75);
  width: 240px;
  margin-bottom: 21px;
}
.page-button {
  display: block;
  font-family: "Mulish", sans-serif;
  border: 1.11px solid rgba(255, 255, 255, 0.3);
  border-radius: 22px;
  width: 207px;
  height: auto;
  box-shadow: 0 2px 2px 0 rgba(61, 61, 63, 0.1);
  background-color: #ffa2a4;
  background-image: linear-gradient(178deg, #ffa2a4 30%, #fd695a 100%);
  font-weight: 700;
  font-size: 13px;
  line-height: 1.55556;
  text-align: center;
  color: #fff;
  padding: 11px 35px;
  cursor: pointer;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-button:hover,
.page-button:focus,
.page-button:active {
  background-color: #fd695a;
  background-image: none;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}

/* Call */

.call {
  background-color: rgba(226, 225, 243, 0.71);
  padding: 32px 0;
  width: 100%;
  min-width: 340px;
}

.call-text {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #3d3d3f;
  margin-bottom: 12px;
}

.call-text-answer {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: #3d3d3f;
}

/* About me */

.about-me {
  position: relative;
  padding: 80px 0 671px;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-photo {
  margin-bottom: 40px;
}

.about-me-title {
  position: relative;
  color: #fd695a;
  text-align: left;
  margin-bottom: 30px;
}
.about-me-title::after {
  width: 307px;
  height: 2px;
  content: "";
  background-image: linear-gradient(
    90deg,
    #fd695a 0%,
    rgba(255, 162, 164, 0) 100%
  );
  border-radius: 7px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.about-me-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #3d3d3f;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 16px;
}
.skills-item {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #3d3d3f;
  position: relative;
}

.skills-item::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #ffa2a4;
  position: absolute;
  left: -15px;
  top: 8px;
}

/* Specialization */

.specialization {
  position: absolute;
  top: -544px;
  z-index: 9999;
  left: 0;
  right: 0;
}
.specialization-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.specialization-name {
  max-width: 340px;
}

.specialization-list {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 182px;
  list-style-type: none;
  margin-top: 30px;
  border-radius: 12px;
  width: 258px;
  height: 722px;
  box-shadow: -4px 6px 21px 0 rgba(67, 61, 61, 0.1);
  background-color: #fef8f8;
}

.specialization-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 213px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #3d3d3f;
}
.specialization-item:not(:last-child)::after {
  content: "";
  border: 1.18px solid #fd695a;
  width: 96px;
  height: 0px;
  opacity: 0.3;
  position: absolute;
  bottom: -50px;
}

.specialization-element {
  position: absolute;
  top: -88px;
  width: 58px;
  height: 58px;
  border-radius: 100%;
  background-color: #ffa2a4;
  box-shadow: 0 6px 24px 0 rgba(54, 61, 136, 0.06);
  padding: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

/* Course */

.course {
  position: relative;
  background-color: rgba(226, 225, 243, 0.71);
  padding: 430px 0px 140px;
  width: 100%;
  min-width: 340px;
}
.course-wrapper {
  min-width: 340px;
  height: 575px;
  overflow: hidden;
  padding-top: 62px;
  margin: 0 auto;
}
.course-container {
  position: relative;
  border-radius: 10px;
  width: 308px;
  height: 513px;
  background: #fef8f8;
  margin: 0 auto;
  padding: 30px 14px;
}
.course-image {
  z-index: 999;
  position: absolute;
  max-width: 180px;
  top: -62px;
  right: -28px;
  transform: rotate(-8.36deg);
}
.course-title {
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: rgba(61, 61, 63, 0.75);
  width: 140px;
  margin-bottom: 20px;
}
.course-name {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fd695a;
  letter-spacing: 0.2px;
  width: 265px;
  margin-bottom: 43px;
}
.course-name::after {
  content: "";
  border-radius: 5px;
  width: 289px;
  height: 1px;
  background-image: linear-gradient(
    90deg,
    #ffa2a4 0%,
    rgba(255, 162, 164, 0) 100%
  );
  position: absolute;
  left: 0;
  bottom: -12px;
}
.course-benifits {
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
  color: #3d3d3f;
  width: 270px;
  margin-bottom: 20px;
}
.course-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.course-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.course-skills {
  font-size: 12px;
  line-height: 1.3;
  color: #3d3d3f;
  width: 252px;
}
.course-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: #ffa2a4;
  box-shadow: 0 2px 8px 0 rgba(54, 61, 136, 0.06);
}

/* Price */
.price {
  display: flex;
  flex-direction: column;
  padding-top: 91px;
  padding-bottom: 50px;
  align-items: center;
}
.price-title {
  font-style: italic;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #3d3d3f;
}
.price-title {
  margin-bottom: 30px;
}
.price-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  margin-bottom: 30px;
}
.price-item {
  border-radius: 14px;
  width: 308px;
  height: 350px;
  box-shadow: 0 7px 42px 0 rgba(255, 162, 164, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
}

.price-wrapper {
  position: relative;
  width: 308px;
  height: 350px;
  border-radius: 14px;
  box-shadow: 0 1.4px 1.4px 0 rgba(255, 162, 164, 0.7);
  padding-top: 54px;
  padding-left: 30px;
  padding-right: 30px;
}
.price-name {
  position: relative;
  margin-bottom: 65px;
  font-style: italic;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.3;
  color: #3d3d3f;
}
.price-name::after {
  content: "";
  border: 1.41px solid;
  width: 246px;
  height: 0px;
  border: 1.41px solid #fd695a;
  opacity: 0.6;
  position: absolute;
  left: 0;
  bottom: -35px;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.benefits-item {
  display: flex;
  gap: 14px;
}
.price-element {
  width: 16px;
  height: 16px;
}
.benefits-item-point {
  width: 195px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(61, 61, 63, 0.75);
}
.price-cours {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  border: 1.41px solid rgba(255, 255, 255, 0.7);
  border-radius: 13px;
  width: 169px;
  height: 66px;
  background-color: #ffa2a4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
}
.price-loyalty {
  display: flex;
  gap: 1px;
}
.star {
  color: #fd695a;
}
.loyalty {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  color: #000;
  width: 308px;
}
.loyalty-sale {
  font-weight: 600;
  text-transform: uppercase;
}
.loyalty-text {
}

/* Conclusion */
.conclusion {
  padding: 50px 0 112px;
}
.conclusion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.conclusion-title {
  font-style: italic;
  font-weight: 600;
  font-size: 27px;
  line-height: 1.3;
  text-align: center;
  color: #3d3d3f;
  margin-bottom: 8px;
}

.conclusion-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.1;
  text-align: center;
  color: rgba(61, 61, 63, 0.75);
  margin-bottom: 22px;
}
.page-button-end {
  padding: 11px 35px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.55556;
  text-align: center;
  color: #fff;
  width: 270px;
  border: 1.11px solid rgba(255, 255, 255, 0.3);
  border-radius: 22px;
  width: 207px;
  height: 43px;
  box-shadow: 0 2px 2px 0 rgba(61, 61, 63, 0.1);
  background: linear-gradient(178deg, #ffa2a4 0%, #fd695a 100%);
}
.page-button-end:hover,
.page-button-end:focus,
.page-button-end:active {
  background-color: #fd695a;
  background-image: none;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}
/* Footer */
.page-contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 37px;
}
.page-footer {
  padding: 85px 0 22px;
  background-color: #3d3d3f;
  position: relative;
}

.footer-image {
  position: absolute;
  /* transform: rotate(-2deg); */
  top: -73px;
}

.contacts {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-left: 10px;
  font-style: normal;
}

.mail {
  text-transform: lowercase;
}
.contacts-item {
  display: flex;
  align-items: center;
}
.icon-contacts {
  fill: #faf0f0;
  stroke: #faf0f0;
}

.menu-link-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.menu-footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 28px;
}

.menu-link-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fff;
}

.social-networks {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  gap: 38px;
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }

  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    min-height: 100%;
    bottom: -70px;
    background-color: #3d3d3f;
    transform: translatex(100%);
    padding: 72px 24px 40px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-open {
    transform: translateX(0);
  }

  .mobile-menu-modal {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .mobile-menu-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #e7e9fc;
    padding: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    top: 24px;
    line-height: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-navigation {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 200px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-menu-contacts {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .menu-link-mobile {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}
@media (min-width: 768px) {
  .mobile-menu-wrapper {
    display: none;
  }
  .container {
    max-width: 768px;
  }
  /* Header */
  .header-container {
    min-width: 752px;
  }
  .page-navigation {
    min-width: 736px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .logo {
    width: 150px;
    height: 41px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: 500px;
  }

  .menu-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #3d3d3f;
    padding: 20px 0;
    align-items: center;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:active {
    color: #fd695a;
  }
  .menu-item:first-child .menu-link {
    color: #fd695a;
  }
  .mobile-menu {
    display: none;
  }

  /* Hero */
  .hero-container {
    width: 768px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 84px;
    margin: 0 auto;
  }
  .hero-image {
    align-self: center;
  }

  .hero-wrapper {
    padding: 50px 32px 0;
  }
  .main-title {
    font-size: 36px;
    width: 360px;
  }

  .hero-descriotion {
    font-size: 16px;
  }
  .page-button {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 24px;
    max-width: 196px;
    box-shadow: 0 3px 3px 0 rgba(61, 61, 63, 0.1);
    font-size: 12px;
    padding: 10px 33px;
  }

  /* About me */
  .about-me {
    padding: 150px 0 700px;
  }
  .personal-photo {
    margin-bottom: 0;
    width: 386px;
  }
  .about-me-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about-me-wrapper {
    width: 400px;
  }

  /* Specialization */
  .specialization {
    top: -548px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }

  /* Header */
  .header-container {
    max-width: 1280px;
  }

  .page-navigation {
    min-width: 1236px;
  }

  .logo {
    width: 270px;
    height: 50px;
  }
  .menu {
    width: 796px;
  }
  .menu-link {
    font-size: 14px;
    line-height: 1.3;
  }

  /* Hero */

  .hero-container {
    min-width: 1280px;
    padding-top: 100px;
  }
  .hero-image {
    max-width: 579px;
  }

  .hero-wrapper {
    max-width: 637px;
    padding: 100px 32px;
  }

  .main-title {
    width: 600px;
    font-size: 44px;
    margin-bottom: 51px;
  }

  .hero-descriotion {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;
    width: 540px;
    margin-bottom: 51px;
  }
  .page-button {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    max-width: 250px;
    box-shadow: 0 4px 4px 0 rgba(61, 61, 63, 0.1);
    font-size: 20px;
    padding: 16px 48px;
  }
  /* Call */
  .call-text {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .call-text-answer {
    font-size: 36px;
  }
  /* About me */
  .about-me {
    padding-bottom: 553px;
  }
  .about-me-container {
    gap: 50px;
  }
  .personal-photo {
    width: 600px;
  }
  .about-me-wrapper {
    width: 600px;
  }
  .section-title {
    font-size: 48px;
  }
  .about-me-title {
    margin-bottom: 50px;
  }
  .about-me-title::after {
    width: 500px;
    height: 3px;
    border-radius: 12px;
    bottom: -16px;
  }
  .about-me-name {
    font-size: 40px;
    margin-bottom: 32px;
  }

  .skills-list {
    gap: 20px;
    width: 600px;
  }
  .skills-item {
    font-size: 30px;
  }

  .skills-item::before {
    width: 9px;
    height: 9px;
    left: -32px;
    top: 16px;
  }

  /* Specialization */
  .specialization {
    top: -300px;
  }
  .specialization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 30px; */
  }
  .specialization-name {
    width: 600px;
  }

  .specialization-list {
    padding: 60px 30px;
    flex-direction: row;
    align-items: baseline;
    gap: 80px;
    margin-top: 60px;
    border-radius: 12px;
    width: 952px;
    height: 240px;
  }

  .specialization-item {
    width: 330px;
    font-size: 24px;
  }
  .specialization-item:not(:last-child)::after {
    border-radius: 20px;
    border: 2px solid #fd695a;
    width: 0px;
    height: 164px;
    right: -40px;
  }

  .specialization-element {
    top: -96px;
    width: 70px;
    height: 70px;
    padding: 20px;
    font-size: 24px;
    line-height: 1.3;
  }

  .course {
    position: relative;
    background-color: rgba(226, 225, 243, 0.71);
    padding: 430px 0 140px;
  }

  /* Course */

  .course {
    padding: 430px 0px 140px;
  }
  .course-wrapper {
    max-width: 1280px;
    height: 660px;
    padding-top: 80px;
  }
  .course-container {
    width: 1147px;
    height: 580px;
    padding: 72px 96px;
  }
  .course-image {
    transform: none;
    max-width: 468px;
    top: -80px;
    right: -80px;
  }
  .course-title {
    width: 616px;
    margin-bottom: 16px;
    font-size: 20px;
  }
  .course-name {
    font-size: 32px;
    width: 800px;
    margin-bottom: 72px;
  }
  .course-name::after {
    border-radius: 12px;
    height: 2px;
    bottom: -36px;
    width: 700px;
  }
  .course-benifits {
    font-size: 20px;
    width: 866px;
    margin-bottom: 20px;
  }
  .course-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .course-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .course-skills {
    font-size: 20px;
    font-weight: 400;
    width: 600px;
  }
  .course-element {
    width: 24px;
    height: 24px;
  }
  .course-name-desktop {
    display: none;
  }
  .course-icon {
    width: 12px;
    height: 10px;
  }
  /* price */
  .price-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    margin-bottom: 50px;
  }
  .price-element {
    width: 16px;
    height: 16px;
  }
  .course-icon {
    width: 10px;
    height: 8px;
  }
  .price-item:last-child > .price-wrapper {
    padding-top: 68px;
  }
  .price-item:last-child > .price-wrapper > .price-name {
    margin-bottom: 80px;
  }
  .price-item:last-child > .price-wrapper > .price-name::after {
    bottom: -50px;
  }
  .price-loyalty {
    max-width: 1280px;
  }
  .loyalty {
    width: 1200px;
    font-size: 16px;
  }

  /* conclusion */
  .conclusion-text {
    font-size: 36px;
  }
  .page-button-end {
    font-size: 24px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    width: 374px;
    height: 79px;
    padding: 20px 63px;
  }

  /* Footer */

  .page-footer {
    padding-top: 53px;
  }
  .footer-image {
    width: 218px;
    height: 263px;
    top: -130px;
  }

  .footer-containet {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: self-start;
    gap: 50px;
  }

  .menu-footer {
    flex-direction: row;
  }

  .footer-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 60px;
  }

  .menu-footer {
    gap: 50px;
  }

  .social-networks {
    gap: 70px;
  }

  .menu-link-footer {
    font-size: 16px;
  }

  .social-networks-icon {
    width: 43px;
    height: 43px;
  }
  .contacts {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 40px;
  }
  /* Header */
  .header-container {
    max-width: 1440px;
  }
  .page-navigation {
    min-width: 1360px;
  }
  .menu {
    width: 830px;
  }

  .menu-link {
    font-size: 16px;
    padding-top: 67px;
  }
  /* Hero */
  .hero-container {
    width: 1440px;
  }
  .hero-image {
    max-width: 846px;
  }

  .hero-wrapper {
    max-width: 760px;
    padding-left: 40px;
  }
  .main-title {
    font-size: 56px;
    margin-bottom: 51px;
  }

  /* Call */
  .call-text {
    font-size: 32px;
    margin-bottom: 14px;
  }

  .call-text-answer {
    font-size: 32px;
  }

  /* About me */
  .about-me {
    padding-bottom: 600px;
  }
  .about-me-container {
    gap: 100px;
  }

  /* Specialization */
  .specialization {
    top: -400px;
  }
  .specialization-container {
    gap: 30px;
  }
  .specialization-name {
    width: 600px;
    margin-bottom: 60px;
  }

  .specialization-list {
    padding: 90px 60px 30px;
    flex-direction: row;
    align-items: baseline;
    gap: 112px;
    min-width: 1376px;
    height: 312px;
  }

  .specialization-item {
    width: 336px;
    font-size: 30px;
    letter-spacing: 2px;
  }
  .specialization-item:not(:last-child)::after {
    border-radius: 20px;
    border: 2px solid #fd695a;
    width: 0px;
    height: 164px;
    right: -40px;
    top: -14px;
  }

  .specialization-element {
    top: -144px;
    width: 100px;
    height: 100px;
    padding: 30px;
    font-size: 32px;
    line-height: 1.3;
  }

  .course {
    position: relative;
    background-color: rgba(226, 225, 243, 0.71);
    padding: 430px 0 140px;
  }
  /* Course */

  .course {
    padding: 430px 0px 140px;
  }
  .course-wrapper {
    max-width: 1440px;
    height: 733px;
    padding-top: 80px;
  }
  .course-container {
    width: 1290px;
    height: 653px;
    padding: 72px 96px;
  }
  .course-image {
    max-width: 580px;
  }
  .course-title {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .course-name {
    font-size: 32px;
  }
  .course-name::after {
    width: 500px;
    height: 3px;
  }
  .course-benifits {
    font-size: 24px;
  }

  .course-list {
    gap: 25px;
  }
  .course-skills {
    font-size: 24px;
    width: 700px;
  }
  .course-element {
    width: 32px;
    height: 32px;
  }
  .course-icon {
    width: 16px;
    height: 12px;
  }
  .price-element {
    width: 16px;
    height: 16px;
  }
  .course-icon {
    width: 10px;
    height: 8px;
  }
  .benefits-item-point {
    font-size: 18px;
  }
  .price-name {
    font-size: 22px;
  }
  .price-item {
    width: 360px;
    height: 417px;
  }
  .price-wrapper {
    width: 360px;
    height: 417px;
    padding-left: 36px;
    padding-right: 36px;
  }

  .price-name::after {
    width: 288px;
  }

  /* Footer */
  .footer-image {
    width: calc(436px * 0.8);
    height: calc(526px * 0.8);
    top: -220px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 0 245px;
  }
  .header-container {
    max-width: 1920px;
  }
  .page-navigation {
    min-width: 1920px;
  }

  /* Hero */
  .hero-container {
    width: 1920px;
    padding-top: 100px;
  }
  .specialization-name {
    font-size: 48px;
  }
  .hero-wrapper {
    max-width: 787px;
  }

  .main-title {
    font-size: 70px;
    width: 787px;
  }

  .specialization-list {
    min-width: 1428px;
    height: 324px;
  }

  /* Call */

  .call-text {
    font-size: 50px;
  }

  .call-text-answer {
    font-size: 50px;
  }

  .specialization-item {
    width: 360px;
  }
  /* About me */
  .about-me-container {
    gap: 143px;
  }
  .personal-photo {
    width: 703px;
  }
  .about-me-wrapper {
    width: 703px;
  }

  /* Course */

  .course {
    padding: 430px 0px 140px;
  }
  .course-wrapper {
    max-width: 1920px;
    height: 1001px;
    padding-top: 130px;
  }
  .course-container {
    width: 1720px;
    height: 871px;
  }
  .course-image {
    top: -130px;
    right: -110px;
    max-width: 800px;
    transform: rotate(-0.33deg);
  }
  .course-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .course-name {
    font-size: 46px;
    margin-bottom: 96px;
    width: 900px;
  }
  .course-name::after {
    width: 732px;
    bottom: -46px;
  }
  .course-benifits {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .course-list {
    gap: 30px;
  }
  .course-skills {
    font-size: 30px;
    width: 953px;
  }
  .course-element {
    width: 42px;
    height: 42px;
  }
  .course-icon {
    width: 21px;
    height: 16px;
  }
  /* price */

  .price-element {
    width: 24px;
    height: 24px;
  }
  .course-icon {
    width: 11px;
    height: 9px;
  }
  .benefits-item-point {
    font-size: 20px;
  }
  .price-name {
    font-size: 30px;
  }
  .price-item {
    width: 438px;
    height: 517px;
  }
  .price-wrapper {
    width: 438px;
    height: 517px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .price-name::after {
    width: 351px;
  }
  .price-cours {
    width: 241px;
    height: 94px;
    font-size: 60px;
    bottom: -18px;
  }
  .benefits-item-point {
    width: 277px;
  }
  .price-item:last-child > .price-wrapper > .price-name::after {
    bottom: -60px;
  }
  .price-item:last-child > .price-wrapper > .price-name {
    margin-bottom: 90px;
  }
  .loyalty {
    font-size: 20px;
  }
  .price-loyalty {
    gap: 5px;
  }
  /* Footer */
  .footer-image {
    width: 436px;
    height: 526px;
    top: -270px;
  }
  .footer-containet {
    gap: 230px;
  }
}

@media screen and (max-width: 340px) {
  .hero {
    background-image: linear-gradient(
        360deg,
        #faf1f1 0%,
        rgba(250, 241, 241, 0) 100%
      ),
      url(./image/hero-mobile.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-width: 340px;
  }
}

@media screen and (min-width: 340px) {
  .hero {
    background-image: linear-gradient(
        360deg,
        #faf1f1 0%,
        rgba(250, 241, 241, 0) 100%
      ),
      url(./image/hero-desktop.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
  }
}
