body {
  font-family: "Montserrat", sans-serif;
  color: #3d3d3f;
  background-color: #faf0f0;
}
html,
body,
section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #fd695a;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: flex;
}

.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  min-width: 280px;
  padding: 0 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-align: center;
}
/* Header */
header {
  position: absolute;
  left: 0;
  right: 0;
}
.header-container {
  max-width: 752px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin: 0 auto;
}

.logo {
  width: 134px;
  height: 29px;
}
.mobile-menu-btn {
  fill: #3d3d3f;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 160px;
}
/* Hero */
.hero-container {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 84px;
}
.photo {
  width: 100%;
  height: 100%;
}

.hero-wrapper {
  padding: 50px 16px 0;
  width: 100%;
}
.main-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.3;
  color: #3d3d3f;
  text-align: left;
  width: 309px;
  margin-bottom: 21px;
}
.hero-descriotion {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.3;
  color: rgba(61, 61, 63, 0.75);
  width: 240px;
  margin-bottom: 21px;
}
.page-button {
  font-family: "Mulish", sans-serif;
  border: 0.86px solid rgba(255, 255, 255, 0.9);
  border-radius: 17px;
  max-width: 160px;
  height: auto;
  box-shadow: 0 2px 2px 0 rgba(61, 61, 63, 0.1);
  background-color: #ffa2a4;
  background-image: linear-gradient(178deg, #ffa2a4 30%, #fd695a 100%);
  font-weight: 700;
  font-size: 10px;
  line-height: 1.55556;
  text-align: center;
  color: #fff;
  padding: 8px 27px;
  cursor: pointer;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-button:hover,
.page-button:focus,
.page-button:active {
  background-color: #fd695a;
  background-image: none;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}

/* Call */

.call {
  background-color: rgba(226, 225, 243, 0.71);
  padding: 32px 0;
  width: 100%;
}

.call-text {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #3d3d3f;
  margin-bottom: 12px;
}

.call-text-answer {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: #3d3d3f;
}

/* About me */

.about-me {
  position: relative;
  padding: 80px 0 671px;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-photo {
  margin-bottom: 40px;
}

.about-me-title {
  position: relative;
  color: #fd695a;
  text-align: left;
  margin-bottom: 30px;
}
.about-me-title::after {
  width: 307px;
  height: 2px;
  content: "";
  background-image: linear-gradient(
    90deg,
    #fd695a 0%,
    rgba(255, 162, 164, 0) 100%
  );
  border-radius: 7px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.about-me-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #3d3d3f;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 16px;
}
.skills-item {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #3d3d3f;
  position: relative;
}

.skills-item::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #ffa2a4;
  position: absolute;
  left: -15px;
  top: 8px;
}

/* Specialization */

.specialization {
  position: absolute;
  top: 2045px;
  z-index: 9999;
  left: 0;
  right: 0;
}
.specialization-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.specialization-name {
  width: 400px;
}

.specialization-list {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 182px;
  list-style-type: none;
  margin-top: 30px;
  border-radius: 12px;
  width: 258px;
  height: 722px;
  box-shadow: -4px 6px 21px 0 rgba(67, 61, 61, 0.1);
  background-color: #fef8f8;
}

.specialization-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 213px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #3d3d3f;
}
.specialization-item:not(:last-child)::after {
  content: "";
  border: 1.18px solid #fd695a;
  width: 96px;
  height: 0px;
  opacity: 0.3;
  position: absolute;
  bottom: -50px;
}

.specialization-element {
  position: absolute;
  top: -88px;
  width: 58px;
  height: 58px;
  border-radius: 100%;
  background-color: #ffa2a4;
  box-shadow: 0 6px 24px 0 rgba(54, 61, 136, 0.06);
  padding: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

/* Course */
.course {
  position: relative;
  background-color: rgba(226, 225, 243, 0.71);
  padding: 430px 0 140px;
}

.course-container {
  border-radius: 10px;
  width: 308px;
  height: 513px;
  background: #fef8f8;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* Header */
  .header-container {
    max-width: 768px;
  }

  .page-navigation {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 201px;
    height: 43.5px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: 32px;
  }

  .menu-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #3d3d3f;
    padding: 20px 0;
    align-items: center;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:active {
    color: #fd695a;
  }
  .menu-item:first-child .menu-link {
    color: #fd695a;
  }
  .mobile-menu {
    display: none;
  }

  /* Hero */

  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 84px;
    margin: 0 auto;
  }
  .hero-image {
    align-self: center;
  }

  .hero-wrapper {
    padding: 50px 32px 0;
  }
  .main-title {
    font-size: 36px;
    width: 360px;
  }

  .hero-descriotion {
    font-size: 16px;
  }
  .page-button {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 24px;
    max-width: 196px;
    box-shadow: 0 3px 3px 0 rgba(61, 61, 63, 0.1);
    font-size: 12px;
    padding: 10px 33px;
  }

  /* About me */

  .about-me {
    padding: 170px 0 600px;
  }
  .about-me-image {
    width: 80%;
    height: 800%;
  }
  .about-me-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .personal-photo {
    margin-bottom: 0;
  }

  /* Specialization */
  .specialization {
    top: 1258px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }

  /* Header */

  .header-container {
    max-width: 1248px;
    padding-top: 67px;
  }

  .logo {
    width: 270px;
    height: 50px;
  }
  .menu {
    width: 796px;
    margin-left: 120px;
  }
  .menu-link {
    font-size: 14px;
    line-height: 1.3;
  }

  /* Hero */

  .hero-container {
    padding-top: 148px;
    padding-bottom: 148px;
    justify-content: center;
  }

  .hero-wrapper {
    max-width: 580px;
    padding: 100px 32px;
  }

  .main-title {
    font-size: 32px;
    width: 640px;
    margin-bottom: 51px;
  }

  .hero-descriotion {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.3;
    width: 540px;
    margin-bottom: 51px;
  }
  .page-button {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    max-width: 250px;
    box-shadow: 0 4px 4px 0 rgba(61, 61, 63, 0.1);
    font-size: 20px;
    padding: 16px 48px;
  }
  /* Call */
  .call-text {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .call-text-answer {
    font-size: 50px;
  }
  /* About me */
  .about-me {
    padding-bottom: 553px;
  }
  .about-me-image {
    width: 100%;
    height: 100%;
  }

  .section-title {
    font-size: 48px;
  }
  .about-me-title {
    margin-bottom: 50px;
  }
  .about-me-title::after {
    width: 703px;
    height: 3px;
    border-radius: 12px;
    bottom: -16px;
  }
  .about-me-name {
    font-size: 40px;
    margin-bottom: 32px;
  }

  .skills-list {
    gap: 20px;
    width: 600px;
  }
  .skills-item {
    font-size: 30px;
  }

  .skills-item::before {
    width: 9px;
    height: 9px;
    left: -32px;
    top: 16px;
  }

  /* Specialization */
  .specialization {
    top: 2150px;
  }
  .specialization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .specialization-name {
    width: 600px;
  }

  .specialization-list {
    padding: 60px;
    flex-direction: row;
    align-items: baseline;
    gap: 80px;
    margin-top: 60px;
    border-radius: 12px;
    width: 952px;
    height: 280px;
  }

  .specialization-item {
    width: 330px;
    font-size: 24px;
  }
  .specialization-item:not(:last-child)::after {
    border-radius: 20px;
    border: 2px solid #fd695a;
    width: 0px;
    height: 164px;
    right: -50px;
  }

  .specialization-element {
    top: -96px;
    width: 70px;
    height: 70px;
    padding: 20px;
    font-size: 24px;
    line-height: 1.3;
  }

  .course {
    position: relative;
    background-color: rgba(226, 225, 243, 0.71);
    padding: 430px 0 140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  /* Header */
  .header-container {
    max-width: 1440px;
  }
  .menu {
    width: 830px;
    margin-left: 280px;
  }
  .menu-item {
  }
  .menu-link {
    font-size: 16px;
    padding-top: 67px;
  }
  /* Hero */
  .hero-container {
    max-width: 1440px;
  }

  .hero-wrapper {
    max-width: 800px;
  }
  .main-title {
    font-size: 70px;
    width: 787px;
    margin-bottom: 51px;
  }

  /* Call */
  .call-text {
    font-size: 50px;
    margin-bottom: 14px;
  }

  .call-text-answer {
    font-size: 50px;
  }

  /* About me */
  .about-me {
    padding-bottom: 600px;
  }

  /* Specialization */
  .specialization {
    top: 2260px;
  }
  .specialization-container {
    gap: 30px;
  }
  .specialization-name {
    width: 600px;
    margin-bottom: 60px;
  }

  .specialization-list {
    padding: 108px 60px 30px;
    flex-direction: row;
    align-items: baseline;
    gap: 60px;
    width: 1200px;
    height: 356px;
  }

  .specialization-item {
    width: 336px;
    font-size: 30px;
  }
  .specialization-item:not(:last-child)::after {
    border-radius: 20px;
    border: 2px solid #fd695a;
    width: 0px;
    height: 164px;
    right: -30px;
  }

  .specialization-element {
    top: -160px;
    width: 100px;
    height: 100px;
    padding: 30px;
    font-size: 32px;
    line-height: 1.3;
  }

  .course {
    position: relative;
    background-color: rgba(226, 225, 243, 0.71);
    padding: 430px 0 140px;
  }
}

@media screen and (max-width: 1279px) {
  .hero {
    background-image: linear-gradient(
        360deg,
        #faf1f1 0%,
        rgba(250, 241, 241, 0) 100%
      ),
      url(./image/hero-mobile.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(
        360deg,
        #faf1f1 0%,
        rgba(250, 241, 241, 0) 100%
      ),
      url(./image/hero-desktop.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
  }
}
